body{
	font-family:segoe ui,sans-serif;
}
.page-header,#chat-send-btn,.container-fluid>br,#vm-view>br{
	display:none;
}
.btn,.panel,.list-group,.list-group-item,#chat-user,#chat-input,.guac-keyboard-key,.modal-content,#username-addon,#username-box,nav,.dropdown-menu{
	border-radius:0;
}
.btn{
	border:0;
	padding:7px;
	outline:none!important;
}
.btn:not(:hover),.btn:target{
	background:#eee;
	color:#000;
}
nav{
	width:100%;
	margin:7px 0!important;
	min-height:auto!important;
	background:none!important;
	border:0!important;
}
.container-fluid{
	position:relative;
}
.navbar-brand,.navbar-nav a{
	padding:0 10px!important;
	margin:0!important;
	height:auto;
}
.navbar-right{
	float:none!important;
}
.navbar-right a{
	color:#777;
	text-decoration:none;
}
.navbar-right a:hover{
	color:#333;
}
.container-fluid,#kbd-container+div>.col-md-4,#kbd-container+div>.col-md-8,#kbd-container+div>.col-md-8>*,.row,.displayOuter>h3{
	padding:0;
	margin:0!important;
}
#display{
	text-align:center;
}
#display>*{
	display:inline-block;
	position:relative;
	z-index:1;
}
.focused>*{
	box-shadow:0 0 9px rgba(45,213,255,.75);
}
.waiting>*{
	box-shadow:0 0 9px rgba(242,255,63,.75);
}
#display-outer{
	width:100%;
	margin:0;
	line-height:5px;
}
#display-outer>:nth-child(4),#status,.displayOuter>h3{
	display:inline;
	text-align:left;
}
#display-outer>:nth-child(4)::before{
	content:'\A';
	white-space:pre-line;
}
#display-outer>h3{
	display:inline-block;
	padding-left:5px;
	margin:0;
}
#display.focused~* #status:empty::after{
	content:'Your turn expires in ~0 seconds'
}
#online-users>*{
	overflow:hidden;
	text-overflow:ellipsis;
	cursor:default;
}
.has-turn{
	background:#cff2fc;
}
.waiting-turn{
	background:#ffffb3;
}
@keyframes fade{
	from{background-color:yellow}
	to{background-color:transparent}
}
#chat-box>li{
	animation:fade 4s;
	padding:0 5px;
	border-bottom:1px solid #ccc;
	cursor:default;
}
#chat-box>li:hover{
	background:#f7f7f7;
}
#chat-box>li:last-child,#chat-user,.list-group-item,.panel{
	border:0;
}
#chat-box>li>div{
	overflow:auto;
	padding:2px 0;
	line-height:24px;
	word-wrap:break-word;
}
#chat-panel{
	padding:0;
	height:100%;
	overflow:auto;
	background:#eee;
}
#chat-input{
	border-color:#eee;
}
#chat-input:focus{
	border-color:#66afe9;
}
#chat-box .username{
	font-weight:bold;
}
#chat-box .spacer{
	margin-right:5px;
}
#vote-alert{
	margin:0;
}
@media (min-width:1245px){
	#kbd-container+div>.col-md-4{
		position:absolute;
		top:0;
		left:0;
		width:200px;
	}
	#online-users{
		height:729px!important;
		max-height:calc(100vh - 75px)!important;
	}
	#display-outer{
		margin:0 0 0 200px;
		text-align:left;
		width:calc(100% - 200px);
	}
	#display,#kbd-container+div>.col-md-8{
		width:100%;
	}
	#kbd-container{
		margin-left:200px;
		width:1024px;
	}
}
@media (min-width:1500px){
	#display-outer{
  		width:1024px;
	}
	#kbd-container+div>.col-md-8{
		position:absolute;
		top:0;
		right:0;
		width:calc(100% - 1224px);
	}
	#kbd-container+div>.col-md-8>:first-child{
		height:734px;
		max-height:calc(100vh - 68px);
	}
}
#kbd-container{
	text-transform:lowercase;
	font-variant:small-caps;
	text-align:center;
	margin-top:5px;
}
.guac-keyboard{
	display:inline-block;
	text-align:left;
}
.guac-keyboard-key-container{
	width:50px!important;
	height:50px!important;
	line-height:50px!important;
	font-size:50px!important;
}
.guac-keyboard-cap{
	line-height:46px;
}
.guac-keyboard-gap{
	width:33px!important;
}
.guac-keyboard>*>:first-child>:nth-child(n+2){
	text-transform:none;
}
/*tab, backslash*/.guac-keyboard-alpha>:nth-child(2)>:nth-child(13n+1){
	width:75px!important;
}
/*backspace*/.guac-keyboard-alpha>:first-child>:last-child,
/*caps, enter*/.guac-keyboard-alpha>:nth-child(3)>:nth-child(12n+1),
/*ctrl*/.guac-keyboard-alpha>:last-child>:nth-child(6n+1){
	width:100px!important; 
}
/*shift*/.guac-keyboard-alpha>:nth-child(4)>:nth-child(11n+1){
	width:125px!important;
}
/*space*/.guac-keyboard-alpha>:last-child>:nth-child(4){
	width:350px!important;
}
.guac-keyboard-key-lalt,.guac-keyboard-key-ralt{
	padding-left:0!important;
	text-align:center!important;
}
.guac-keyboard-key-super>*,.guac-keyboard-movement>:nth-child(n+4) .guac-keyboard-cap{
	color:transparent;
	font-size:0;
}
.guac-keyboard-key-super>*{
background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"><path d="M11 2 30 0 30 12 11 12M0 3 10 2 10 12 0 12m0 1 10 0 0 10-10-1m11-9 19 0 0 12-19-2" fill="white"/></svg>') no-repeat center;
}
.guac-keyboard-movement{
	flex:none;
	margin-left:10px;
}
.guac-keyboard-movement .guac-keyboard-key-container,.guac-keyboard-alpha>:last-child>:nth-child(6){
	font-size:45px!important;
}
.guac-keyboard-movement>:nth-child(3){
	height:50px;
}
.guac-keyboard-movement>:nth-child(n+4) .guac-keyboard-cap::before{
	color:#fff;
	font-size:20px;
}
.guac-keyboard-key-up>*::before{
	content:'\25B2';
}
.guac-keyboard-key-left>*::before{
	content:'\25C4';
}
.guac-keyboard-key-down>*::before{
	content:'\25BC';
}
.guac-keyboard-key-right>*::before{
	content:'\25BA';
}
.guac-keyboard-key-container,.navbar-text,.panel{
	margin:0;
}
.guac-keyboard-alpha,
.guac-keyboard-movement{
	display:inline-block;
	text-align:center;
	vertical-align:top;
}
.guac-keyboard-group{
    line-height:0;
}
.guac-keyboard-key-container,.guac-keyboard-gap{
	display:inline-block;
	position:relative;
}
.guac-keyboard-key{
	background:#444;
	color:#fff;
	font-size:40%;
	text-align:center;
	position:absolute;
	width:100%;
	height:100%;
	border:.125em solid #fff!important;
	cursor:pointer;
	box-shadow:none;
}
.guac-keyboard-disabled{
	background:#ccc;
	cursor:default;
}
.guac-keyboard-pressed{
	background:#822;
}
.guac-keyboard-modifier-shift .guac-keyboard-key-rshift,
.guac-keyboard-modifier-shift .guac-keyboard-key-lshift,
.guac-keyboard-modifier-control .guac-keyboard-key-rctrl,
.guac-keyboard-modifier-control .guac-keyboard-key-lctrl,
.guac-keyboard-modifier-alt .guac-keyboard-key-ralt,
.guac-keyboard-modifier-alt .guac-keyboard-key-lalt,
.guac-keyboard-modifier-caps .guac-keyboard-key-caps,
.guac-keyboard-modifier-super .guac-keyboard-key-super,
.guac-keyboard-modifier-super .guac-keyboard-key-menu{
	background:#882;
}
.guac-keyboard:not(.guac-keyboard-modifier-caps)
.guac-keyboard-requires-caps,
.guac-keyboard:not(.guac-keyboard-modifier-shift)
.guac-keyboard-requires-shift,
.guac-keyboard-modifier-shift
.guac-keyboard-uses-shift
.guac-keyboard-cap:not(.guac-keyboard-requires-shift),
.guac-keyboard-modifier-caps
.guac-keyboard-uses-caps
.guac-keyboard-cap:not(.guac-keyboard-requires-caps){
	display:none;
}
.guac-keyboard-key-caps,
.guac-keyboard-key-enter,
.guac-keyboard-key-tab,
.guac-keyboard-key-lalt,
.guac-keyboard-key-ralt,
.guac-keyboard-key-lctrl,
.guac-keyboard-key-rctrl,
.guac-keyboard-key-lshift,
.guac-keyboard-key-rshift{
	text-align:left;
	padding-left:.75em;
}
/*
     FILE ARCHIVED ON 20:21:16 Jun 16, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:25:42 Jan 31, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 66.915
  exclusion.robots: 0.101
  exclusion.robots.policy: 0.093
  RedisCDXSource: 0.539
  esindex: 0.008
  LoadShardBlock: 46.685 (3)
  PetaboxLoader3.datanode: 64.188 (4)
  CDXLines.iter: 17.275 (3)
  load_resource: 55.898
  PetaboxLoader3.resolve: 32.822
*/
body{
	font-family:segoe ui,sans-serif;
}
.page-header,#chat-send-btn,.container-fluid>br,#vm-view>br{
	display:none;
}
.btn,.panel,.list-group,.list-group-item,#chat-user,#chat-input,.guac-keyboard-key,.modal-content,#username-addon,#username-box,nav,.dropdown-menu{
	border-radius:0;
}
.btn{
	border:0;
	padding:7px;
	outline:none!important;
}
.btn:not(:hover),.btn:target{
	background:#eee;
	color:#000;
}
nav{
	width:100%;
	margin:7px 0!important;
	min-height:auto!important;
	background:none!important;
	border:0!important;
}
.container-fluid{
	position:relative;
}
.navbar-brand,.navbar-nav a{
	padding:0 10px!important;
	margin:0!important;
	height:auto;
}
.navbar-right{
	float:none!important;
}
.navbar-right a{
	color:#777;
	text-decoration:none;
}
.navbar-right a:hover{
	color:#333;
}
.container-fluid,#kbd-container+div>.col-md-4,#kbd-container+div>.col-md-8,#kbd-container+div>.col-md-8>*,.row,.displayOuter>h3{
	padding:0;
	margin:0!important;
}
#display{
	text-align:center;
}
#display>*{
	display:inline-block;
	position:relative;
	z-index:1;
}
.focused>*{
	box-shadow:0 0 9px rgba(45,213,255,.75);
}
.waiting>*{
	box-shadow:0 0 9px rgba(242,255,63,.75);
}
#display-outer{
	width:100%;
	margin:0;
	line-height:5px;
}
#display-outer>:nth-child(4),#status,.displayOuter>h3{
	display:inline;
	text-align:left;
}
#display-outer>:nth-child(4)::before{
	content:'\A';
	white-space:pre-line;
}
#display-outer>h3{
	display:inline-block;
	padding-left:5px;
	margin:0;
}
#display.focused~* #status:empty::after{
	content:'Your turn expires in ~0 seconds'
}
#online-users>*{
	overflow:hidden;
	text-overflow:ellipsis;
	cursor:default;
}
.has-turn{
	background:#cff2fc;
}
.waiting-turn{
	background:#ffffb3;
}
@keyframes fade{
	from{background-color:yellow}
	to{background-color:transparent}
}
#chat-box>li{
	animation:fade 4s;
	padding:0 5px;
	border-bottom:1px solid #ccc;
	cursor:default;
}
#chat-box>li:hover{
	background:#f7f7f7;
}
#chat-box>li:last-child,#chat-user,.list-group-item,.panel{
	border:0;
}
#chat-box>li>div{
	overflow:auto;
	padding:2px 0;
	line-height:24px;
	word-wrap:break-word;
	display: inline-block;
}
#chat-panel{
	padding:0;
	height:100%;
	overflow:auto;
	background:#eee;
}
#chat-input{
	border-color:#eee;
}
#chat-input:focus{
	border-color:#66afe9;
}
#chat-box .username{
	font-weight:bold;
}
#chat-box .spacer{
	margin-right:5px;
}
#vote-alert{
	margin:0;
}
@media (min-width:1245px){
	#kbd-container+div>.col-md-4{
		position:absolute;
		top:0;
		left:0;
		width:200px;
	}
	#online-users{
		height:729px!important;
		max-height:calc(100vh - 75px)!important;
	}
	#display-outer{
		margin:0 0 0 200px;
		text-align:left;
		width:calc(100% - 200px);
	}
	#display,#kbd-container+div>.col-md-8{
		width:100%;
	}
	#kbd-container{
		margin-left:200px;
		width:1024px;
	}
}
@media (min-width:1500px){
	#display-outer{
  		width:1024px;
	}
	#kbd-container+div>.col-md-8{
		position:absolute;
		top:0;
		right:0;
		width:calc(100% - 1224px);
	}
	#kbd-container+div>.col-md-8>:first-child{
		height:734px;
		max-height:calc(100vh - 68px);
	}
}
#kbd-container{
	text-transform:lowercase;
	font-variant:small-caps;
	text-align:center;
	margin-top:5px;
}
.guac-keyboard{
	display:inline-block;
	text-align:left;
}
.guac-keyboard-key-container{
	width:50px!important;
	height:50px!important;
	line-height:50px!important;
	font-size:50px!important;
}
.guac-keyboard-cap{
	line-height:46px;
}
.guac-keyboard-gap{
	width:33px!important;
}
.guac-keyboard>*>:first-child>:nth-child(n+2){
	text-transform:none;
}
/*tab, backslash*/.guac-keyboard-alpha>:nth-child(2)>:nth-child(13n+1){
	width:75px!important;
}
/*backspace*/.guac-keyboard-alpha>:first-child>:last-child,
/*caps, enter*/.guac-keyboard-alpha>:nth-child(3)>:nth-child(12n+1),
/*ctrl*/.guac-keyboard-alpha>:last-child>:nth-child(6n+1){
	width:100px!important; 
}
/*shift*/.guac-keyboard-alpha>:nth-child(4)>:nth-child(11n+1){
	width:125px!important;
}
/*space*/.guac-keyboard-alpha>:last-child>:nth-child(4){
	width:350px!important;
}
.guac-keyboard-key-lalt,.guac-keyboard-key-ralt{
	padding-left:0!important;
	text-align:center!important;
}
.guac-keyboard-key-super>*,.guac-keyboard-movement>:nth-child(n+4) .guac-keyboard-cap{
	color:transparent;
	font-size:0;
}
.guac-keyboard-key-super>*{
background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"><path d="M11 2 30 0 30 12 11 12M0 3 10 2 10 12 0 12m0 1 10 0 0 10-10-1m11-9 19 0 0 12-19-2" fill="white"/></svg>') no-repeat center;
}
.guac-keyboard-movement{
	flex:none;
	margin-left:10px;
}
.guac-keyboard-movement .guac-keyboard-key-container,.guac-keyboard-alpha>:last-child>:nth-child(6){
	font-size:45px!important;
}
.guac-keyboard-movement>:nth-child(3){
	height:50px;
}
.guac-keyboard-movement>:nth-child(n+4) .guac-keyboard-cap::before{
	color:#fff;
	font-size:20px;
}
.guac-keyboard-key-up>*::before{
	content:'\25B2';
}
.guac-keyboard-key-left>*::before{
	content:'\25C4';
}
.guac-keyboard-key-down>*::before{
	content:'\25BC';
}
.guac-keyboard-key-right>*::before{
	content:'\25BA';
}
.guac-keyboard-key-container,.navbar-text,.panel{
	margin:0;
}
.guac-keyboard-alpha,
.guac-keyboard-movement{
	display:inline-block;
	text-align:center;
	vertical-align:top;
}
.guac-keyboard-group{
    line-height:0;
}
.guac-keyboard-key-container,.guac-keyboard-gap{
	display:inline-block;
	position:relative;
}
.guac-keyboard-key{
	background:#444;
	color:#fff;
	font-size:40%;
	text-align:center;
	position:absolute;
	width:100%;
	height:100%;
	border:.125em solid #fff!important;
	cursor:pointer;
	box-shadow:none;
}
.guac-keyboard-disabled{
	background:#ccc;
	cursor:default;
}
.guac-keyboard-pressed{
	background:#822;
}
.guac-keyboard-modifier-shift .guac-keyboard-key-rshift,
.guac-keyboard-modifier-shift .guac-keyboard-key-lshift,
.guac-keyboard-modifier-control .guac-keyboard-key-rctrl,
.guac-keyboard-modifier-control .guac-keyboard-key-lctrl,
.guac-keyboard-modifier-alt .guac-keyboard-key-ralt,
.guac-keyboard-modifier-alt .guac-keyboard-key-lalt,
.guac-keyboard-modifier-caps .guac-keyboard-key-caps,
.guac-keyboard-modifier-super .guac-keyboard-key-super,
.guac-keyboard-modifier-super .guac-keyboard-key-menu{
	background:#882;
}
.guac-keyboard:not(.guac-keyboard-modifier-caps)
.guac-keyboard-requires-caps,
.guac-keyboard:not(.guac-keyboard-modifier-shift)
.guac-keyboard-requires-shift,
.guac-keyboard-modifier-shift
.guac-keyboard-uses-shift
.guac-keyboard-cap:not(.guac-keyboard-requires-shift),
.guac-keyboard-modifier-caps
.guac-keyboard-uses-caps
.guac-keyboard-cap:not(.guac-keyboard-requires-caps){
	display:none;
}
.guac-keyboard-key-caps,
.guac-keyboard-key-enter,
.guac-keyboard-key-tab,
.guac-keyboard-key-lalt,
.guac-keyboard-key-ralt,
.guac-keyboard-key-lctrl,
.guac-keyboard-key-rctrl,
.guac-keyboard-key-lshift,
.guac-keyboard-key-rshift{
	text-align:left;
	padding-left:.75em;
}
/*Patch*/
.btn,.panel,.list-group,.list-group-item,#chat-user,#chat-input,.guac-keyboard-key,.modal-content,#username-addon,#username-box,nav,.dropdown-menu{
	border-radius:0!important;
	box-shadow:none!important;
	background-image:none!important;
	outline:none!important;
	transition:none!important;
}
.guac-keyboard-key-container,.navbar-text,.panel{
	margin:0!important;
}
#display :not(:first-child){
	pointer-events:none;
}
#display.waiting~* #status:empty::after{
	content:'Waiting for turn in ~0 seconds'
}
.largeres #kbd-container+div>.col-md-4,.largeres #kbd-container+div>.col-md-8{
	position:static!important;
}
.largeres #display-outer{
	margin:0!important;
}
/*Dark*/
body,#online-users,.form-control{
	background:#1f1f1f;
	color:#a5a5a5;
	cursor:default;
}
.navbar-default .navbar-nav>li>a,.list-group-item.disabled,.navbar-brand,.navbar-right a{
	color:#a5a5a5!important;
}
.list-group-item:not(.has-turn):not(.waiting-turn),#chat-panel{
	background:#1f1f1f;
}
.has-turn{
	background:#3f494c;
}
.waiting-turn{
	background:#4C4c36;
}
.form-control{
	border-color:#3d3d3d!important;
	cursor:text;
}
#chat-box>li{
	border-color:#3d3d3d!important;
}
.btn{
	background:#1f1f1f!important;
	padding:5px;
	border:2px solid transparent;
	color:#a5a5a5!important;
}
.btn:focus{
	border-color:transparent;
}
.btn-default:hover{
	border-color:#3d3d3d;
}
.input-group-addon,#chat-sound-btn{
	background:#3d3d3d!important;
	color:#a5a5a5;
}
@keyframes fade{
	from{background-color:#4c4c00}
	to{background-color:transparent}
}
#chat-box>li:hover{
	background:#3d3d3d;
}
.alert-info{
	background:#3d3d3d;
	color:#a5a5a5;
	border:0;
	border-radius:0;
}
.mentioned{
	background:#3d3d3d;
}
a{
	color:#337ab7!important;
}
.label{
	color:#a5a5a5;
}
.label-success{
	background:#264c26;
}
.label-danger{
	background:#4c1d1c;
}
.modal-content{
	border:0;
	background:#1f1f1f;
}
.input-group-addon,.modal-header,.modal-footer{
	border:0;
}
.dropdown.open{
	margin:-7px 5px;
}
.dropdown.open>a{
	background:#3d3d3d!important;
	padding:7px 5px!important;
	display:block!important;
}
.dropdown-menu,.ignoredialog{
	background:#2b2b2b;
	border:1px solid #a0a0a0;
	padding:4px 0!important;
}
.dropdown-menu a,.ignoredialog div{
	color:#fff!important;
	padding:.5em 0 .5em 2em!important;
	border-left:2px;
	border-right:2px;
	border-style:solid;
	border-color:#2b2b2b;
}
.dropdown-menu a:hover,.ignoredialog div:hover{
	background:#414141!important;
}
[style="color: rgb(63, 76, 191);"]{
	color:#5972ff!important;
}
.guac-keyboard-key{
	border-color:#1f1f1f!important;
}
.guac-keyboard-disabled,.guac-keyboard-movement>:nth-child(n+4) .guac-keyboard-disabled .guac-keyboard-cap::before{
	background:#3d3d3d;
	color:#1f1f1f;
}
.guac-keyboard-key-super.guac-keyboard-disabled>*{
background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"><path d="M11 2 30 0 30 12 11 12M0 3 10 2 10 12 0 12m0 1 10 0 0 10-10-1m11-9 19 0 0 12-19-2" fill="%231f1f1f"/></svg>') no-repeat center;
}
::-webkit-scrollbar{
	width:13px;
	height:13px;
}
::-webkit-scrollbar-thumb{
	background:#3d3d3d;
}
::-webkit-scrollbar-track{
	background:#1f1f1f;
}
#vm-list .thumbnail{
	border:2px solid transparent;
	background:#1f1f1f;
	text-decoration:none;
	border-radius:0;
	transition:none
}
#vm-list .thumbnail:hover{
	border-color:#3d3d3d;
}
#vm-list .thumbnail .caption{
	color:#a5a5a5!important;
}
/*
     FILE ARCHIVED ON 20:21:19 Jun 16, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:25:43 Jan 31, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1089.754
  exclusion.robots: 0.142
  exclusion.robots.policy: 0.132
  RedisCDXSource: 0.718
  esindex: 0.012
  LoadShardBlock: 1067.478 (3)
  PetaboxLoader3.datanode: 996.885 (7)
  PetaboxLoader3.resolve: 116.183 (3)
  CDXLines.iter: 14.244 (2)
  load_resource: 92.058
*/